@import "variables";
@import "mixins";
/*ajustes generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente;
}
/*body 3 secciones*/
.body{
    margin: 0;
    width: 100%;
}
/*body inicio*/
.inicio{
    @include estructura;
    height: 180vh;
    @media (max-width:768px){
        height: 240vh;
        grid-template-rows: 90px auto 300px;
    }
    /*header*/
    @import "header";
    /*inicio*/
    @import "inicio";
    /*footer*/
    @import "footer";
}
.productos{
    @include estructura;
    /*header*/
    @import "header";
    /*productos*/
    @import "productos";
    /*footer*/
    @import "footer";
}
.recetas{
    @include estructura;
    /*header*/
    @import "header";
    /*recetas*/
    @import "recetas";
    /*footer*/
    @import "footer";
}