/*variabes*/
$fuente:"Quicksand", sans-serif;
$gris:#35363a;
$bordes:solid 2px white;
$radius10:10%;
$radius3:3px;
/*ajustes generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente;
}
/*body 3 secciones*/
.body{
    margin: 0;
    width: 100%;
}
/*body inicio*/
.inicio{
    height: 160vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto 120px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    @media (max-width:768px){
            height: 200vh;
            grid-template-rows: 90px auto 300px;
    }
    /*header*/
    .header{
        grid-area: header;
        .navbar{
            background-color: black;
            .contenedor{
                .logotipo{
                    .link-logo{
                        .logo{
                            width: 80px;
                            border-radius: 10%;
                        }
                    }   
                }
                .icono-menu{
                    background-color: $gris;
                }
                .menu{
                    justify-content: end;
                    .lista-menu{
                        text-align: center;
                        .nav-item{
                            .nav-link{
                                color: white;
                                font-size: 20px;
                                text-transform: uppercase;
                                margin: 10px;
                                border-radius: $radius3;
                                &:hover{
                                    color: white;
                                    background-color: $gris;
                                    transition: .3s;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
    .main-inicio{
        grid-area: main;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1.4fr 1fr;
        grid-template-areas: 
        "presentacion presentacion"
        "dulzuras salados"
        ;
        @media (max-width: 768px){
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3,1fr);
                grid-template-areas: 
                "presentacion"
                "dulzuras"
                "salados"
                ; 
        }
        .presentacion-inicio{
            grid-area: presentacion;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image:url(/fotosbk/inicio/gif-bk.gif);
            background-position: center;
            background-size:cover;     
            @media (max-width: 480px){
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url(./fotosbk/inicio/gif-bk.gif) no-repeat;
                background-position: center;
                background-size:contain;
            }
        }
        .dulzuras-inicio{
            grid-area: dulzuras;
            background-image: url(/fotosbk/inicio/alfajores-fondo.jpg);
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            border: $bordes;
            .alfajores-inicio{
                width: 250px;
                border-radius: $radius10;
                border: $bordes;
                @media (max-width:768px){
                    width: 200px;
                }
            }
        }
        .salados-inicio{
            grid-area: salados;
            background-image: url(/fotosbk/inicio/grisines-fondo.jpg);
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            border: $bordes;
            .grisines-inicio{
                width: 250px;
                border-radius: $radius10;
                border: $bordes;
                @media (max-width:768px){
                    width: 200px;
                }
            }
        }
    }
    /*footer*/
    .footer{
        grid-area: footer;
        height: 120px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width:768px){
            grid-area: footer;
            height: 300px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }
        .pie{
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #000;
            color: white;
            @media (max-width:768px){
                height: 260px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            .logo-inferior{
                margin: auto 10px;
                @media (max-width:768px){
                    margin: auto;
                }
                .logo-footer{
                    width: 80px;
                    border-radius: $radius10;
                    @media (max-width:768px){
                        width: 60px;
                        border-radius: $radius10;
                    }
                }
            }
            .suscripcion{
                .formulario{
                    .suscribite{
                        color: white;
                        cursor: default;
                        text-align: center;
                    }
                    .email{
                        border: none;
                        border-radius: 5px;
                        background-color: $gris;
                        padding: 5px 5px;
                        color: white;
                    }
                    .enviar{
                        border: none;
                        border-radius: 5px;
                        padding: 5px 5px;
                        cursor: pointer;
                        #avion{
                            font-size: 14px;
                        }
                    }
                }
            }
            .logos{
                display: flex;
                margin-right: 50px;
                @media (max-width:768px){
                    display: flex;
                    margin-right: 0;
                    margin: auto;
                }
                .insta{
                    background-color: $gris;
                    padding: 8px 12px;
                    border-radius: $radius10*5;
                    &:hover{
                        background-color: #f34d59;
                        transition: .3s;
                    }
                    @media (max-width:768px){
                        margin: auto 5px;
                    }
                    #insta-link{
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                    }
                }
                .wpp{
                    background-color: $gris;
                    padding: 8px 12px;
                    border-radius: $radius10*5;
                    margin-left: 10px;
                   
                    &:hover{
                        background-color: #2eb843;
                        transition: .3s;
                    }
                    @media (max-width:768px){
                        margin-left: 0;
                        margin: auto 5px;
                    }
                    #wpp-link{
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                    }
                }
            }
        }
        .sub-pie{
            display: flex;
            justify-content: center;
            height: 20px;
            background-color: $gris;
            color: white;
            @media (max-width:768px){
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                background-color: #35363a;
                color: white;
            }
            .pedidos{
                font-size: 1rem;
                text-align: center;
                @media (max-width:768px){
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
}
.productos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto 120px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    
    .header{
        grid-area: header;
        .navbar{
            background-color: black;
            .contenedor{
                .logotipo{
                    .link-logo{
                        .logo{
                            border-radius: $radius10;
                        }
                    }   
                }
                .icono-menu{
                    background-color: $gris;
                }
                .menu{
                    justify-content: end;
                    .lista-menu{
                        text-align: center;
                        .nav-item{
                            .nav-link{
                                color: white;
                                font-size: 20px;
                                text-transform: uppercase;
                                margin: 10px;
                                border-radius: $radius3;
                                &:hover{
                                    color: white;
                                    background-color: $gris;
                                    transition: .3s;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
    .main-productos{
        background-color: $gris;
        display:flex;
        flex-direction:column;
        grid-area: main;
        z-index: -1;
        .dulces{
            display:flex;
            flex-direction: column;
            .titulo{
                .dulzuras-titulo{
                    text-align: center;
                    text-transform: uppercase;
                    color: white;
                }
            }
            .line1{
                display: flex;
                justify-content: space-around;
                margin: 10px;
                @media (max-width:912px){
                    display: grid;
                    justify-content: center;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(2,1fr);
                    row-gap: 20px;
                    grid-template-areas: 
                    "alfajores budin"
                    "triangulitos granola"
                    ;
                    gap: auto;
                    justify-items: center;
                }
                @media (max-width:480px){
                    display: grid;
                    justify-content: center;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4,1fr);
                    row-gap: 20px;
                    grid-template-areas: 
                    "alfajores" 
                    "budin"
                    "triangulitos"
                    "granola"
                    ;
                    gap: auto;
                    justify-items: center;
                }
                .alfa{
                    grid-area: alfajores;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .budlim{
                    grid-area: budin;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .trian{
                    grid-area: triangulitos;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .gran{
                    grid-area: granola;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
            .line2{
                display: flex;
                justify-content: space-around;
                margin: 10px; 
                @media (max-width:912px) {
                    display: grid;
                    justify-content: center;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(2,1fr);
                    row-gap: 20px;
                    grid-template-areas: 
                    "choco coco"
                    "vegan muffins"
                    ;
                    gap: auto;
                    justify-items: center;
                }
                @media (max-width:480px) {
                    display: grid;
                    justify-content: center;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4,1fr);
                    row-gap: 20px;
                    grid-template-areas: 
                    "choco"
                    "coco"
                    "vegan"
                    "muffins"
                    ;
                    gap: auto;
                    justify-items: center;
                }
                .choco{
                    grid-area: choco;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .coco{
                    grid-area: coco;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .vegan{
                    grid-area: vegan;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .muffins{
                    grid-area: muffins;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .salados{
            .titulo-salados{
                text-align: center;
                text-transform: uppercase;
                color: white;
            }
            .line3{
                display: flex;
                justify-content: space-around;
                margin: 10px;
                @media (max-width:912px){
                    display: grid;
                    justify-content: center;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(2,1fr);
                    row-gap: 20px;
                    grid-template-areas: 
                    "crackers grisines"
                    "panes queso"
                    ;
                    gap: auto;
                    justify-items: center;
                }
                @media (max-width:480px) {
                    display: grid;
                    justify-content: center;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4,1fr);
                    row-gap: 20px;
                    grid-template-areas: 
                    "crackers"
                    "grisines"
                    "panes"
                    "queso"
                    ;
                    gap: auto;
                    justify-items: center;
                }
                .crack{
                    grid-area: crackers;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .grisin{
                    grid-area: grisines;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .pan{
                    grid-area: panes;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .galque{
                    grid-area: queso;
                    .card-title{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    /*insertar footer*/
    
    .footer{
        grid-area: footer;
        height: 120px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width:768px){
            grid-area: footer;
            height: 300px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }
        .pie{
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #000;
            color: white;
            @media (max-width:768px){
                height: 260px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            .logo-inferior{
                margin: auto 10px;
                @media (max-width:768px){
                    margin: auto;
                }
                .logo-footer{
                    width: 80px;
                    border-radius: $radius10;
                    @media (max-width:768px){
                        width: 60px;
                        border-radius: $radius10;
                    }
                }
            }
            .suscripcion{
                .formulario{
                    .suscribite{
                        color: white;
                        cursor: default;
                        text-align: center;
                    }
                    .email{
                        border: none;
                        border-radius: 5px;
                        background-color: $gris;
                        padding: 5px 5px;
                        color: white;
                    }
                    .enviar{
                        border: none;
                        border-radius: 5px;
                        padding: 5px 5px;
                        cursor: pointer;
                        #avion{
                            font-size: 14px;
                        }
                    }
                }
            }
            .logos{
                display: flex;
                margin-right: 50px;
                @media (max-width:768px){
                    display: flex;
                    margin-right: 0;
                    margin: auto;
                }
                .insta{
                    background-color: $gris;
                    padding: 8px 12px;
                    border-radius: $radius10*5;
                    &:hover{
                        background-color: #f34d59;
                        transition: .3s;
                    }
                    @media (max-width:768px){
                        margin: auto 5px;
                    }
                    #insta-link{
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                    }
                }
                .wpp{
                    background-color: $gris;
                    padding: 8px 12px;
                    border-radius: $radius10*5;
                    margin-left: 10px;
                   
                    &:hover{
                        background-color: #2eb843;
                        transition: .3s;
                    }
                    @media (max-width:768px){
                        margin-left: 0;
                        margin: auto 5px;
                    }
                    #wpp-link{
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                    }
                }
            }
        }
        .sub-pie{
            display: flex;
            justify-content: center;
            height: 20px;
            background-color: $gris;
            color: white;
            @media (max-width:768px){
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                background-color: #35363a;
                color: white;
            }
            .pedidos{
                font-size: 1rem;
                text-align: center;
                @media (max-width:768px){
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
}
.recetas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto 120px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    .header{
        grid-area: header;
        .navbar{
            background-color: black;
            .contenedor{
                .logotipo{
                    .link-logo{
                        .logo{
                            border-radius: $radius10;
                        }
                    }   
                }
                .icono-menu{
                    background-color: $gris;
                }
                .menu{
                    justify-content: end;
                    .lista-menu{
                        text-align: center;
                        .nav-item{
                            .nav-link{
                                color: white;
                                font-size: 20px;
                                text-transform: uppercase;
                                margin: 10px;
                                border-radius: $radius3;
                                &:hover{
                                    color: white;
                                    background-color: $gris;
                                    transition: .3s;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
    .main-recetas{
        grid-area: main;
        width: 100%;
        display: flex;
        flex-direction: column;
        .receta-1{  
            width: 100%;
            height: 50%;
            background-image: linear-gradient(black
            , #35363a, black);
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr 2fr;
            grid-template-areas: 
            "titulo-pan titulo-pan"
            "imagen-pan receta-pan"
            ;
            justify-content: center;
            align-items: center;
            @media (max-width:912px) {
                width: 100%;
                height: 50%;
                background-image: linear-gradient(black
                , #35363a, black);
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 0.5fr 2fr 2fr;
                grid-template-areas: 
                "titulo-pan"
                "imagen-pan"
                "receta-pan"
                ;
                justify-content: center;
                align-items: center;
            }
            .titulo-receta{
                text-align: center;
                grid-area: titulo-pan;
                .titulo-pan{
                    color: white;
                    text-transform: uppercase;
                }
            }
            .img-receta{      
                display: flex;
                justify-content: center;
                align-items: center;
                grid-area: imagen-pan;
                .imagen-pan{       
                    width: 300px;
                    border-radius: 10%;
                    border: solid 2px white;
                }
            }
            .texto-receta{ 
                text-transform: uppercase;
                padding: 10px;
                grid-area: receta-pan;
                .receta-pan{
                    color: white;
                    @media (max-width:912px) {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        .receta-2{
            width: 100%;
            height: 50%;
            background-image: linear-gradient(black
            , #35363a, black);
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr 2fr;
            grid-template-areas: 
            "titulo-mix titulo-mix"
            "imagen-mix receta-mix"
            ;
            justify-content: center;
            align-items: center;
            @media (max-width:912px) {
                width: 100%;
                height: 50%;
                background-image: linear-gradient(black
                , #35363a, black);
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 0.5fr 2fr 2fr;
                grid-template-areas: 
                "titulo-mix"
                "imagen-mix"
                "receta-mix"
                ;
                justify-content: center;
                align-items: center;
            }
            .titulo-receta-mix{
                text-align: center;
                grid-area: titulo-mix;
                .titulo-mix{
                    color: white;
                    text-transform: uppercase;
                }
            }
            .img-receta-mix{      
                display: flex;
                justify-content: center;
                align-items: center;
                grid-area: imagen-mix;
                .imagen-mix{       
                    width: 300px;
                    border-radius: 10%;
                    border: solid 2px white;
                }
            }
            .texto-receta-mix{ 
                text-transform: uppercase;
                padding: 10px;
                grid-area: receta-mix;
                .receta-mix{
                    color: white;
                    @media (max-width:912px) {
                        grid-area: titulo-mix;
                    }
                }
            }
        }
    }
    /*footer*/
    .footer{
        grid-area: footer;
        height: 120px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width:768px){
            grid-area: footer;
            height: 300px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }
        .pie{
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #000;
            color: white;
            @media (max-width:768px){
                height: 260px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            .logo-inferior{
                margin: auto 10px;
                @media (max-width:768px){
                    margin: auto;
                }
                .logo-footer{
                    width: 80px;
                    border-radius: $radius10;
                    @media (max-width:768px){
                        width: 60px;
                        border-radius: $radius10;
                    }
                }
            }
            .suscripcion{
                .formulario{
                    .suscribite{
                        color: white;
                        cursor: default;
                        text-align: center;
                    }
                    .email{
                        border: none;
                        border-radius: 5px;
                        background-color: $gris;
                        padding: 5px 5px;
                        color: white;
                    }
                    .enviar{
                        border: none;
                        border-radius: 5px;
                        padding: 5px 5px;
                        cursor: pointer;
                        #avion{
                            font-size: 14px;
                        }
                    }
                }
            }
            .logos{
                display: flex;
                margin-right: 50px;
                @media (max-width:768px){
                    display: flex;
                    margin-right: 0;
                    margin: auto;
                }
                .insta{
                    background-color: $gris;
                    padding: 8px 12px;
                    border-radius: $radius10*5;
                    &:hover{
                        background-color: #f34d59;
                        transition: .3s;
                    }
                    @media (max-width:768px){
                        margin: auto 5px;
                    }
                    #insta-link{
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                    }
                }
                .wpp{
                    background-color: $gris;
                    padding: 8px 12px;
                    border-radius: $radius10*5;
                    margin-left: 10px;
                   
                    &:hover{
                        background-color: #2eb843;
                        transition: .3s;
                    }
                    @media (max-width:768px){
                        margin-left: 0;
                        margin: auto 5px;
                    }
                    #wpp-link{
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                    }
                }
            }
        }
        .sub-pie{
            display: flex;
            justify-content: center;
            height: 20px;
            background-color: $gris;
            color: white;
            @media (max-width:768px){
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                background-color: #35363a;
                color: white;
            }
            .pedidos{
                font-size: 1rem;
                text-align: center;
                @media (max-width:768px){
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
}