/*ajustes generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/*body 3 secciones*/
.body {
  margin: 0;
  width: 100%;
}

/*body inicio*/
.inicio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px auto 120px;
  grid-template-areas: "header" "main" "footer";
  height: 180vh;
  /*header*/
  /*inicio*/
  /*footer*/
}
@media (max-width: 768px) {
  .inicio {
    height: 240vh;
    grid-template-rows: 90px auto 300px;
  }
}
.inicio .header {
  grid-area: header;
}
.inicio .header .navbar {
  background-color: black;
}
.inicio .header .navbar .contenedor .logotipo .link-logo .logo {
  border-radius: 10%;
  width: 80px;
}
.inicio .header .navbar .contenedor .icono-menu {
  background-color: #35363a;
}
.inicio .header .navbar .contenedor .menu {
  justify-content: end;
}
.inicio .header .navbar .contenedor .menu .lista-menu {
  text-align: center;
}
.inicio .header .navbar .contenedor .menu .lista-menu .nav-item .nav-link {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
  border-radius: 3px;
}
.inicio .header .navbar .contenedor .menu .lista-menu .nav-item .nav-link:hover {
  color: white;
  background-color: #35363a;
  transition: 0.3s;
}
.inicio .main-inicio {
  grid-area: main;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.4fr 1fr;
  grid-template-areas: "presentacion presentacion" "dulzuras salados";
}
@media (max-width: 768px) {
  .inicio .main-inicio {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "presentacion" "dulzuras" "salados";
  }
}
.inicio .main-inicio .presentacion-inicio {
  grid-area: presentacion;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/fotosbk/inicio/gif-bk.gif);
  background-position: center;
  background-size: cover;
}
@media (max-width: 480px) {
  .inicio .main-inicio .presentacion-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./fotosbk/inicio/gif-bk.gif) no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.inicio .main-inicio .dulzuras-inicio {
  grid-area: dulzuras;
  background-image: url(/fotosbk/inicio/alfajores-fondo.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: solid 2px white;
}
.inicio .main-inicio .dulzuras-inicio .alfajores-inicio {
  width: 250px;
  border-radius: 10%;
  border: solid 2px white;
}
@media (max-width: 768px) {
  .inicio .main-inicio .dulzuras-inicio .alfajores-inicio {
    width: 200px;
  }
}
.inicio .main-inicio .salados-inicio {
  grid-area: salados;
  background-image: url(/fotosbk/inicio/grisines-fondo.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: solid 2px white;
}
.inicio .main-inicio .salados-inicio .grisines-inicio {
  width: 250px;
  border-radius: 10%;
  border: solid 2px white;
}
@media (max-width: 768px) {
  .inicio .main-inicio .salados-inicio .grisines-inicio {
    width: 200px;
  }
}
.inicio .footer {
  grid-area: footer;
  height: 120px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .inicio .footer {
    grid-area: footer;
    height: 300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.inicio .footer .pie {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
}
@media (max-width: 768px) {
  .inicio .footer .pie {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.inicio .footer .pie .logo-inferior {
  margin: auto 10px;
}
@media (max-width: 768px) {
  .inicio .footer .pie .logo-inferior {
    margin: auto;
  }
}
.inicio .footer .pie .logo-inferior .logo-footer {
  border-radius: 10%;
  width: 80px;
}
@media (max-width: 768px) {
  .inicio .footer .pie .logo-inferior .logo-footer {
    width: 60px;
    border-radius: 10%;
  }
}
.inicio .footer .pie .suscripcion .formulario .suscribite {
  color: white;
  cursor: default;
  text-align: center;
}
.inicio .footer .pie .suscripcion .formulario .email {
  border: none;
  border-radius: 5px;
  background-color: #35363a;
  padding: 5px 5px;
  color: white;
}
.inicio .footer .pie .suscripcion .formulario .enviar {
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}
.inicio .footer .pie .suscripcion .formulario .enviar #avion {
  font-size: 14px;
}
.inicio .footer .pie .logos {
  display: flex;
  margin-right: 50px;
}
@media (max-width: 768px) {
  .inicio .footer .pie .logos {
    display: flex;
    margin-right: 0;
    margin: auto;
  }
}
.inicio .footer .pie .logos .insta {
  background-color: #35363a;
  padding: 8px 12px;
  border-radius: 50%;
}
.inicio .footer .pie .logos .insta:hover {
  background-color: #f34d59;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .inicio .footer .pie .logos .insta {
    margin: auto 5px;
  }
}
.inicio .footer .pie .logos .insta #insta-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.inicio .footer .pie .logos .wpp {
  background-color: #35363a;
  padding: 8px 12px;
  border-radius: 50%;
  margin-left: 10px;
}
.inicio .footer .pie .logos .wpp:hover {
  background-color: #2eb843;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .inicio .footer .pie .logos .wpp {
    margin-left: 0;
    margin: auto 5px;
  }
}
.inicio .footer .pie .logos .wpp #wpp-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.inicio .footer .sub-pie {
  display: flex;
  justify-content: center;
  height: 20px;
  background-color: #35363a;
  color: white;
}
@media (max-width: 768px) {
  .inicio .footer .sub-pie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #35363a;
    color: white;
  }
}
.inicio .footer .sub-pie .pedidos {
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .inicio .footer .sub-pie .pedidos {
    font-size: 1rem;
    text-align: center;
  }
}

.productos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px auto 120px;
  grid-template-areas: "header" "main" "footer";
  /*header*/
  /*productos*/
  /*footer*/
}
.productos .header {
  grid-area: header;
}
.productos .header .navbar {
  background-color: black;
}
.productos .header .navbar .contenedor .logotipo .link-logo .logo {
  border-radius: 10%;
  width: 80px;
}
.productos .header .navbar .contenedor .icono-menu {
  background-color: #35363a;
}
.productos .header .navbar .contenedor .menu {
  justify-content: end;
}
.productos .header .navbar .contenedor .menu .lista-menu {
  text-align: center;
}
.productos .header .navbar .contenedor .menu .lista-menu .nav-item .nav-link {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
  border-radius: 3px;
}
.productos .header .navbar .contenedor .menu .lista-menu .nav-item .nav-link:hover {
  color: white;
  background-color: #35363a;
  transition: 0.3s;
}
.productos .main-productos {
  background-color: #35363a;
  display: flex;
  flex-direction: column;
  grid-area: main;
  z-index: -1;
}
.productos .main-productos .dulces {
  display: flex;
  flex-direction: column;
}
.productos .main-productos .dulces .titulo .dulzuras-titulo {
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.productos .main-productos .dulces .line1 {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
@media (max-width: 912px) {
  .productos .main-productos .dulces .line1 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    gap: auto;
    justify-items: center;
    grid-template-areas: "alfajores budin" "triangulitos granola";
  }
}
@media (max-width: 480px) {
  .productos .main-productos .dulces .line1 {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    gap: auto;
    justify-items: center;
    grid-template-areas: "alfajores" "budin" "triangulitos" "granola";
  }
}
.productos .main-productos .dulces .line1 .alfa {
  grid-area: alfajores;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .dulces .line1 .alfa .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .dulces .line1 .budlim {
  grid-area: budin;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .dulces .line1 .budlim .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .dulces .line1 .trian {
  grid-area: triangulitos;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .dulces .line1 .trian .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .dulces .line1 .gran {
  grid-area: granola;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .dulces .line1 .gran .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .dulces .line2 {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
@media (max-width: 912px) {
  .productos .main-productos .dulces .line2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    gap: auto;
    justify-items: center;
    grid-template-areas: "choco coco" "vegan muffins";
  }
}
@media (max-width: 480px) {
  .productos .main-productos .dulces .line2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    gap: auto;
    justify-items: center;
    grid-template-areas: "choco" "coco" "vegan" "muffins";
  }
}
.productos .main-productos .dulces .line2 .choco {
  grid-area: choco;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .dulces .line2 .choco .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .dulces .line2 .coco {
  grid-area: coco;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .dulces .line2 .coco .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .dulces .line2 .vegan {
  grid-area: vegan;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .dulces .line2 .vegan .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .dulces .line2 .muffins {
  grid-area: muffins;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .dulces .line2 .muffins .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .salados .titulo-salados {
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.productos .main-productos .salados .line3 {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
@media (max-width: 912px) {
  .productos .main-productos .salados .line3 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    gap: auto;
    justify-items: center;
    grid-template-areas: "crackers grisines" "panes queso";
  }
}
@media (max-width: 480px) {
  .productos .main-productos .salados .line3 {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    gap: auto;
    justify-items: center;
    grid-template-areas: "crackers" "grisines" "panes" "queso";
  }
}
.productos .main-productos .salados .line3 .crack {
  grid-area: crackers;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .salados .line3 .crack .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .salados .line3 .grisin {
  grid-area: grisines;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .salados .line3 .grisin .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .salados .line3 .pan {
  grid-area: panes;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .salados .line3 .pan .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .main-productos .salados .line3 .galque {
  grid-area: queso;
  box-shadow: 10px 5px 5px black;
}
.productos .main-productos .salados .line3 .galque .card-title {
  text-align: center;
  text-transform: uppercase;
}
.productos .footer {
  grid-area: footer;
  height: 120px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .productos .footer {
    grid-area: footer;
    height: 300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.productos .footer .pie {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
}
@media (max-width: 768px) {
  .productos .footer .pie {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.productos .footer .pie .logo-inferior {
  margin: auto 10px;
}
@media (max-width: 768px) {
  .productos .footer .pie .logo-inferior {
    margin: auto;
  }
}
.productos .footer .pie .logo-inferior .logo-footer {
  border-radius: 10%;
  width: 80px;
}
@media (max-width: 768px) {
  .productos .footer .pie .logo-inferior .logo-footer {
    width: 60px;
    border-radius: 10%;
  }
}
.productos .footer .pie .suscripcion .formulario .suscribite {
  color: white;
  cursor: default;
  text-align: center;
}
.productos .footer .pie .suscripcion .formulario .email {
  border: none;
  border-radius: 5px;
  background-color: #35363a;
  padding: 5px 5px;
  color: white;
}
.productos .footer .pie .suscripcion .formulario .enviar {
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}
.productos .footer .pie .suscripcion .formulario .enviar #avion {
  font-size: 14px;
}
.productos .footer .pie .logos {
  display: flex;
  margin-right: 50px;
}
@media (max-width: 768px) {
  .productos .footer .pie .logos {
    display: flex;
    margin-right: 0;
    margin: auto;
  }
}
.productos .footer .pie .logos .insta {
  background-color: #35363a;
  padding: 8px 12px;
  border-radius: 50%;
}
.productos .footer .pie .logos .insta:hover {
  background-color: #f34d59;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .productos .footer .pie .logos .insta {
    margin: auto 5px;
  }
}
.productos .footer .pie .logos .insta #insta-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.productos .footer .pie .logos .wpp {
  background-color: #35363a;
  padding: 8px 12px;
  border-radius: 50%;
  margin-left: 10px;
}
.productos .footer .pie .logos .wpp:hover {
  background-color: #2eb843;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .productos .footer .pie .logos .wpp {
    margin-left: 0;
    margin: auto 5px;
  }
}
.productos .footer .pie .logos .wpp #wpp-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.productos .footer .sub-pie {
  display: flex;
  justify-content: center;
  height: 20px;
  background-color: #35363a;
  color: white;
}
@media (max-width: 768px) {
  .productos .footer .sub-pie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #35363a;
    color: white;
  }
}
.productos .footer .sub-pie .pedidos {
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .productos .footer .sub-pie .pedidos {
    font-size: 1rem;
    text-align: center;
  }
}

.recetas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px auto 120px;
  grid-template-areas: "header" "main" "footer";
  /*header*/
  /*recetas*/
  /*footer*/
}
.recetas .header {
  grid-area: header;
}
.recetas .header .navbar {
  background-color: black;
}
.recetas .header .navbar .contenedor .logotipo .link-logo .logo {
  border-radius: 10%;
  width: 80px;
}
.recetas .header .navbar .contenedor .icono-menu {
  background-color: #35363a;
}
.recetas .header .navbar .contenedor .menu {
  justify-content: end;
}
.recetas .header .navbar .contenedor .menu .lista-menu {
  text-align: center;
}
.recetas .header .navbar .contenedor .menu .lista-menu .nav-item .nav-link {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
  border-radius: 3px;
}
.recetas .header .navbar .contenedor .menu .lista-menu .nav-item .nav-link:hover {
  color: white;
  background-color: #35363a;
  transition: 0.3s;
}
.recetas .main-recetas {
  grid-area: main;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #35363a;
}
@media (max-width: 912px) {
  .recetas .main-recetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.recetas .main-recetas .card {
  margin: 20px 20px;
  box-shadow: 10px 5px 5px black;
}
.recetas .main-recetas .card .card-body .card-title {
  text-align: center;
}
.recetas .main-recetas .card .titulo-lista {
  display: flex;
  justify-content: center;
}
.recetas .footer {
  grid-area: footer;
  height: 120px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .recetas .footer {
    grid-area: footer;
    height: 300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.recetas .footer .pie {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
}
@media (max-width: 768px) {
  .recetas .footer .pie {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.recetas .footer .pie .logo-inferior {
  margin: auto 10px;
}
@media (max-width: 768px) {
  .recetas .footer .pie .logo-inferior {
    margin: auto;
  }
}
.recetas .footer .pie .logo-inferior .logo-footer {
  border-radius: 10%;
  width: 80px;
}
@media (max-width: 768px) {
  .recetas .footer .pie .logo-inferior .logo-footer {
    width: 60px;
    border-radius: 10%;
  }
}
.recetas .footer .pie .suscripcion .formulario .suscribite {
  color: white;
  cursor: default;
  text-align: center;
}
.recetas .footer .pie .suscripcion .formulario .email {
  border: none;
  border-radius: 5px;
  background-color: #35363a;
  padding: 5px 5px;
  color: white;
}
.recetas .footer .pie .suscripcion .formulario .enviar {
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}
.recetas .footer .pie .suscripcion .formulario .enviar #avion {
  font-size: 14px;
}
.recetas .footer .pie .logos {
  display: flex;
  margin-right: 50px;
}
@media (max-width: 768px) {
  .recetas .footer .pie .logos {
    display: flex;
    margin-right: 0;
    margin: auto;
  }
}
.recetas .footer .pie .logos .insta {
  background-color: #35363a;
  padding: 8px 12px;
  border-radius: 50%;
}
.recetas .footer .pie .logos .insta:hover {
  background-color: #f34d59;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .recetas .footer .pie .logos .insta {
    margin: auto 5px;
  }
}
.recetas .footer .pie .logos .insta #insta-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.recetas .footer .pie .logos .wpp {
  background-color: #35363a;
  padding: 8px 12px;
  border-radius: 50%;
  margin-left: 10px;
}
.recetas .footer .pie .logos .wpp:hover {
  background-color: #2eb843;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .recetas .footer .pie .logos .wpp {
    margin-left: 0;
    margin: auto 5px;
  }
}
.recetas .footer .pie .logos .wpp #wpp-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.recetas .footer .sub-pie {
  display: flex;
  justify-content: center;
  height: 20px;
  background-color: #35363a;
  color: white;
}
@media (max-width: 768px) {
  .recetas .footer .sub-pie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #35363a;
    color: white;
  }
}
.recetas .footer .sub-pie .pedidos {
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .recetas .footer .sub-pie .pedidos {
    font-size: 1rem;
    text-align: center;
  }
}/*# sourceMappingURL=estilo.css.map */