/*estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
/*ajustes basicos del body para las 3 secciones*/
.body{
    width: 100%;
    margin: 0;
}
/*altura del body inicio*/
.inicio{
    height: 160vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto 120px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
@media (max-width:768px){
    .inicio{
        height: 200vh;
        grid-template-rows: 90px auto 300px;
    }
}
.header{
    grid-area: header;
}
/*estilos de la barra de navegacion*/
.menu{
    justify-content: end;
}
.lista-menu{
    text-align: center;
}
.navbar{
    background-color: #000;
}
.logo{
    border-radius: 10%;
}
.icono-menu{
    background-color: #35363a;
}
.nav-link{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 3px;
}
.nav-link:hover{
    color: white;
    background-color: #35363a;
    transition: .3s;

}
/*estilos main*/
.main-inicio{
    grid-area: main;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1.4fr 1fr;
    grid-template-areas: 
    "presentacion presentacion"
    "dulzuras salados"
    ;
}
@media (max-width:768px){
    .main-inicio{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "presentacion"
        "dulzuras"
        "salados"
        ;
    }
}
/*seccion de presentacion (Gif)*/
.presentacion-inicio{
    grid-area: presentacion;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./fotosbk/inicio/gif-bk.gif);
    background-position: center;
    background-size: cover;
}
@media (max-width:480px){
    .presentacion-inicio{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./fotosbk/inicio/gif-bk.gif) no-repeat;
        background-position: center;
        background-size:contain;
    }
}
/*alfajores (en exhibicion)*/
.dulzuras-inicio{
    grid-area: dulzuras;
    background-image: url(./fotosbk/inicio/alfajores-fondo.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid 2px white;
}
.alfajores-inicio{
    width: 250px;
    border-radius: 10%;
    border: solid 2px white;
}
@media (max-width:768px){
    .alfajores-inicio{
        width: 200px;
    }
}
/*grisines (en exhibicion)*/
.salados-inicio{
    grid-area: salados;
    background-image: url(./fotosbk/inicio/grisines-fondo.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid 2px white;
}
.grisines-inicio{
    width: 250px;
    border-radius: 10%;
    border: solid 2px white;
}
@media (max-width:768px){
    .grisines-inicio{
        width: 200px;
    }
}
/*ajustes del footer para las 3 secciones*/
.footer{
    grid-area: footer;
    height: 120px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.pie{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
}
/*logo del footer*/
.logo-inferior{
    margin:auto 10px;
}
.logo-footer{
    width: 80px;
    border-radius: 10%;
}
/*formulario de suscripcion en el footer*/
.suscribite{
    color: white;
    cursor:default;
    text-align: center;
}
.email{
    border: none;
    border-radius: 5px;
    background-color: #35363a;
    padding: 5px 5px;
    color: white;
}
.enviar{
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}
#avion{
    font-size: 14px;
}
/*logos de redes sociales*/
.logos{
    display: flex;
    margin-right: 50px;
}

.insta{
    background-color: #35363a;
    padding: 8px 12px;
    border-radius: 50%;
}
#insta-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.insta:hover{
    background-color: #f34d59;
    transition: .3s;
}
.wpp{
    background-color: #35363a;
    padding: 8px 12px;
    border-radius: 50%; 
    margin-left: 10px;
}
#wpp-link{
    text-decoration: none;
    color: white;
    font-size: 20px; 
}
.wpp:hover{
    background-color: #2eb843;
    transition: .3s;
}
/*aviso de pedidos al final de la pagina*/
.sub-pie{
    display: flex;
    justify-content: center;
    height: 20px;
    background-color: #35363a;
    color: white;
}
.pedidos{
    font-size: 1rem;
    text-align: center;
}
/*Ajustes responsive del footer para las 3 secciones*/
@media (max-width:768px){
    .footer{
        grid-area: footer;
        height: 300px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .pie{
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    /*logo del footer*/
    .logo-inferior{
        margin:auto;
    }
    .logo-footer{
        width: 60px;
        border-radius: 10%;
    }
    /*logos de redes sociales*/
    .logos{
        display: flex;
        margin-right: 0;
        margin: auto;
    }
    .insta{
        margin: auto 5px;
    }
    .wpp{
        margin-left: 0;
        margin: auto 5px;
    }
    /*aviso de pedidos al final de la pagina*/
    .sub-pie{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        background-color: #35363a;
        color: white;
    }
    .pedidos{
        font-size: 1rem;
        text-align: center;
    }
}
.main-productos{
    background-color: #35363a;
    display:flex;
    flex-direction:column;
    grid-area: main;
    z-index: -1;
}
.caja{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dulces{
    display:flex;
    flex-direction: column;
}
.dulzuras-titulo{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.line1{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
@media (max-width:912px){
    .line1{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 20px;
        grid-template-areas: 
        "alfajores budin"
        "triangulitos granola"
        ;
        gap: auto;
        justify-items: center;
    }
    .alfa{
        grid-area: alfajores;
    }
    .budlim{
        grid-area: budin;
    }
    .trian{
        grid-area:triangulitos;
    }
    .gran{
        grid-area: granola;
    }
}
@media (max-width:480px){
    .line1{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        row-gap: 20px;
        grid-template-areas: 
        "alfajores" 
        "budin"
        "triangulitos"
        "granola"
        ;
        gap: auto;
        justify-items: center;
    }
    .alfa{
        grid-area: alfajores;
    }
    .budlim{
        grid-area: budin;
    }
    .trian{
        grid-area:triangulitos;
    }
    .gran{
        grid-area: granola;
    }
}
.card-title{
    text-align: center;
    text-transform: uppercase;
}
.titulo-salados{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.line2{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
@media (max-width:912px){
    .line2{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
    grid-template-areas: 
    "choco coco"
    "vegan muffins"
    ;
    gap: auto;
    justify-items: center;
    }
    .choco{
        grid-area: choco;
    }
    .coco{
        grid-area: coco;
    }
    .vegan{
        grid-area: vegan;
    }
    .muffins{
        grid-area: muffins;
    }
}
@media (max-width:480px){
    .line2{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        row-gap: 20px;
        grid-template-areas: 
        "choco"
        "coco"
        "vegan"
        "muffins"
        ;
        gap: auto;
        justify-items: center;
        }
        .choco{
            grid-area: choco;
        }
        .coco{
            grid-area: coco;
        }
        .vegan{
            grid-area: vegan;
        }
        .muffins{
            grid-area: muffins;
        }
}
.line3{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
@media (max-width:912px){
    .line3{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 20px;
        grid-template-areas: 
        "crackers grisines"
        "panes queso"
        ;
        gap: auto;
        justify-items: center;
        }
        .crack{
            grid-area: crackers;
        }
        .grisin{
            grid-area: grisines;
        }
        .pan{
            grid-area: panes;
        }
        .galque{
            grid-area: queso;
        }
    }
    @media (max-width:480px){
        .line3{
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4,1fr);
            row-gap: 20px;
            grid-template-areas: 
            "crackers"
            "grisines"
            "panes"
            "queso"
            ;
            gap: auto;
            justify-items: center;
            }
            .crack{
                grid-area: crackers;
            }
            .grisin{
                grid-area: grisines;
            }
            .pan{
                grid-area: panes;
            }
            .galque{
                grid-area: queso;
            }
    }
    .productos{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px auto 120px;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }
    .main-recetas{
        grid-area: main;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .receta-1{
        width: 100%;
        height: 50%;
        background-image: linear-gradient(black
        , #35363a, black);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 2fr;
        grid-template-areas: 
        "titulo-pan titulo-pan"
        "imagen-pan receta-pan"
        ;
        justify-content: center;
        align-items: center;
    }
    @media (max-width:912px){
        .receta-1{
            width: 100%;
            height: 50%;
            background-image: linear-gradient(black
            , #35363a, black);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 2fr 2fr;
            grid-template-areas: 
            "titulo-pan"
            "imagen-pan"
            "receta-pan"
            ;
            justify-content: center;
            align-items: center;
        }
        .receta-pan{
            display: flex;
            justify-content: center;
        }
    }
    .titulo-receta{
        text-align: center;
        grid-area: titulo-pan;
    }
    .titulo-pan{
        color: white;
        text-transform: uppercase;
    }
    .img-receta{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: imagen-pan;
    }
    .imagen-pan{
        width: 300px;
        border-radius: 10%;
        border: solid 2px white;
    }
    .texto-receta{
        text-transform: uppercase;
        padding: 10px;
        grid-area: receta-pan;
    }
    .receta-pan{
        color: white;
    }
    .receta-2{
        width: 100%;
        height:auto;
        background-image: linear-gradient(black, #35363a, black);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        "titulo-mix titulo-mix"
        "imagen-mix receta-mix"
        ;
        justify-content: center;
        align-items: center;
    }
    @media (max-width:912px){
        .receta-2{
            width: 100%;
            height: 50%;
            background-image: linear-gradient(black
            , #35363a, black);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 2fr 2fr;
            grid-template-areas: 
            "titulo-mix"
            "imagen-mix"
            "receta-mix"
            ;
            justify-content: center;
            align-items: center;
        }
        .receta-mix{
            display: flex;
            justify-content: center;
        }
    }
    .titulo-receta-mix{
        text-align: center;
        grid-area: titulo-mix;
    }
    .titulo-mix{
        color: white;
        text-transform: uppercase;
    }
    .img-receta-mix{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: imagen-mix;
    }
    .imagen-mix{
        width: 300px;
        border-radius: 10%;
        border: solid 2px white;
    }
    .texto-receta-mix{
        text-transform: uppercase;
        padding: 10px;
        grid-area: receta-mix;
    }
    .receta-mix{
        color: white;
    }